<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Plus</title>
    <link rel="stylesheet" href="../css/style.css">
    <!-- <script src="js/jquery-1.11.1.min.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" integrity="sha512-Cb0WDP6lVyVaQJulFMEOBGpkgqU6UAOEBpthbb9BfdhmUXnmYQwobuCm6Xp2YYL6Pd/l0ZA5Up/ijp0fu+nFpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

    <script>
        $(function() {
            $("#header").load("src/templates/header.html");
            $("#footer").load("src/templates/footer.html");
        });
    </script>

    <script src="../js/angular.min.js"></script>
    <script>
        let app = angular.module("angularApp", []);
        app.controller("feedbackController", function($scope, $http) {
            $http({
                method: "GET",
                url: "../data/feedbackAPlus.json"
            }).then(function success(response) {
                    $scope.feedbacks = response.data;
                },
                function error(response) {
                    $scope.error = response.statusText;
                }
            );
        })
    </script>
</head>

<body ng-app="angularApp" ng-controller="feedbackController">
    <div class="feedback-layout">
        <div class="feedback-filter">
            <span><input type="button" value="THÊM NHẬN XÉT" onclick="openPopup();"></span>
            <div>
                <span>SẮP XẾP THEO</span>
                <select name="" id="" ng-model="SortDate">
                    <option value="" disabled>--Sắp xếp--</option>
                        <option value="-date" ng-click="orderByField='author'">Nhận xét mới nhất</option>
                        <option value="date">Nhận xét cũ nhất</option>
                    </select>
            </div>
        </div>
        <div class="feedback-list-content">
            <div class="feedback-card" ng-repeat="fb in feedbacks|orderBy:SortDate">
                <div class="feedback-time">{{fb.date}}</div>
                <div class="feedback-content">
                    <div class="feedback-content--ava">
                        <img src="{{'../img/' + fb.avt}}" alt="">
                        <p>{{fb.author}}</p>
                    </div>
                    <p class="feedback-content--text">{{fb.content}}</p>
                </div>
            </div>
        </div>
        <div class="modal" id="feedbackModal">
            <div class="feedback__box modal-content">
                <h3>NHẬN XÉT</h3>
                <textarea name="" id="" cols="90" rows="15"></textarea>
                <div class=" feedback-style">
                    <button onclick="closePopup();">OK</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/javascript.js"></script>
</body>

</html>