<div class="container">

    <div class="footer__item--map">
        <img src="src/img/Logo.png" alt="">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31380.93109325458!2d107.39040226925873!3d10.530850019249897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175a3cb82067941%3A0xe79524e6b316a54e!2zUGjGsOG7m2MgQuG7rXUsIFh1ecOqbiBN4buZYywgQsOgIFLhu4thIC0gVsWpbmcgVMOgdSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1636126194192!5m2!1svi!2s"></iframe>
    </div>

    <div class="footer__item--contact">
        <h2>Thông Tin Liên Hệ</h2>
        <ul class="info">
            <li>
                <span><i class="fa fa-map-marker"></i></span>
                <span>Quốc lộ 55,Hưng Biền,Xuyên Mộc,<br> tỉnh Bà Rịa - Vũng Tàu.</span>
            </li>
            <li>
                <span><i class="fa fa-phone-alt"></i> </span>
                <span><a href="#">+84 909 999 999</a>
                </li>
                <li>
                    <span><i class="fa fa-envelope"></i></span>
                <span><a href="#">aplus@gmail.com</a></span>
            </li>
            <!-- <li>
                    <form class="form">
                        <input type="email" class="form__field" placeholder="Đăng Ký Subscribe Email" />
                        <button type="button" class="btn btn--primary  uppercase">Gửi</button>
                    </form>
                </li> -->
        </ul>

    </div>

    <div class="footer__item--about">
        <h2>Về Chúng Tôi</h2>
        <p>DNTN Aplus 2020 năm qua từ khi có chiến lược phát triển du lịch đầu tiên 2001-2021 cũng là giai đoạn gắn liền với sự nghiệp đổi mới, mở cửa, công nghiệp hóa, hiện đại hóa của đất nước.</p>
        <ul class="social-icon">
            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-youtube"></i></a></li>
        </ul>
    </div>
    <div class="footer__item--code">
        <h2>SCAN ME</h2>
        <img src="src/img/qrcode.png" alt="">
    </div>



</div>